.col-md-3{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 20px;
    padding-bottom: 50px;
}
.col-md-3 > *{
    text-align: center;
}
footer{
    color: white;
}
.footer-copyright{
    background-color: #2c3136;
}
.container{
    padding-top: 50px;
}